body {
  background-color: #D6E5FA;
}

body {
  font-size: large
}

body {
  font-family: sans-serif;
}

h1 {
  color: #D6E5FA;
  background-color: #150050;
}

h2 {
  color: #150050;
}

h3 {
  color: #150050;
}

p {
  color: #150050;
}

hr {
  border-style: dotted none none none;
  width: 100%;
  border-color: #A68DAD;
  border-width: 5px;
}
